<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Error page!</title>
    <th:block th:replace="~{includes/CommonScripts :: head-css}"> </th:block>
    <th:block th:replace="includes/CommonScripts::loginForm_css"></th:block>

</head>
<body>
<div th:replace="~{includes/CommonScripts::header}"></div>

<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">File not found!</div>
                    <div class="card-body">
                        <p class="card-text"> oops </p>
                        <form th:action="@{/}" method="get">
                            <button class="btn btn-primary btn-md" type="submit" >
                                Take me to index!
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{includes/CommonScripts :: end-of-body}"> </th:block>
</body>
</html>