<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <th:block th:replace="~{includes/CommonScripts :: head-css}"></th:block>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <th:block th:replace="~{includes/CommonScripts :: eventDetails_css}"></th:block>
</head>
<body>
<div th:replace="~{includes/CommonScripts::header}"></div>

<div class="jumbotron" th:object="${event}">
    <div class="row">
        <div class="col-md-9">
            <h1 class="display-4" th:text="${event.getTitle()}">Title</h1>
            <p class="lead" th:text="${event.getDescription()}">Description</p>
        </div>
        <div class="col-md-3">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/event/{id}/update(id=${event.getId()})}" method="get">
                    <button class="btn btn-primary btn-lg" type="submit" >
                        Edit this event
                    </button>
                </form>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-9">
            <p th:text="${'Event starts: ' + event.getStart().toString()}">Start</p>
            <p th:text="${'Event ends: ' + event.getEnd().toString()}">End</p>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/sign/{id}(id=${event.getId()})}" method="post">
                    <button class="btn btn-primary btn-lg" th:if="${isRegistered}" type="submit" name="sign"
                            value="unsign">
                        Sign out from this event
                    </button>
                    <button class="btn btn-primary btn-lg" th:unless="${isRegistered}" type="submit" name="sign"
                            value="sign">
                        Sign in for this event!
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="card-title">List of participants:</h5>
            <ul class="list-group" th:object="${registeredUsersSet}">
                <li class="list-group-item" th:if="${registeredUsersSet.isEmpty()}">There are no users currently
                    registered for this event
                </li>
                <li class="list-group-item" th:each="user : ${registeredUsersSet}"><span
                        th:text="${user.getUsername()}">user </span></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" th:each="comment : ${commentList}">
        <div class="col-md-6">
            <div class="media g-mb-30 media-comment">
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                     src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Image Description">
                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                    <div class="g-mb-15">
                        <h5 class="h5 g-color-gray-dark-v1 mb-0" th:text="${comment.getUserDto().getUsername()}">
                            username</h5>
                        <span class="g-color-gray-dark-v4 g-font-size-12"
                              th:text="${#temporals.format(comment.getDateOfCreation(), 'yyyy-MM-dd HH:mm:ss')}">date</span>
                    </div>
                    <p th:text="${comment.getDescription()}">comment</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="media g-mb-30 media-comment">
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                 src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Image Description">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <form th:action="@{/event/{id}(id=${id})}" method="post">
                    <div class="form-group">
                <textarea class="form-control" name="comment" rows="3"
                          placeholder="post your comment here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="~{includes/CommonScripts :: end-of-body}"></th:block>
</body>
</html>