<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>index</title>
    <th:block th:replace="~{includes/CommonScripts :: head-css}"></th:block>
</head>
<body>
<div th:replace="~{includes/CommonScripts::header}"></div>
<br>
<h1 style="text-align: center">Welcome to my version of Meetup</h1>
<br>
<h2 style="text-align: center">List of current events:</h2>


<div class="container">
    <div class="card-deck">
        <div class="card mb-4" th:each="event : ${events}" style="min-width: 18rem;">
            <div class="card-body">
                <h4 class="card-title" th:text="${event.getTitle()}">Title</h4>
                <p class="card-text" th:text="${event.getDescription()}">Desc</p>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text" th:text="${event.getStart().toString()} + ' - ' + ${event.getEnd().toString()}">
                    Start - end</p>
                <a th:href="@{/event/{id}(id=${event.getId()})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Show Details</a>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="~{includes/CommonScripts :: end-of-body}"></th:block>
</body>
</html>

