<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>index</title>
    <th:block th:replace="~{includes/CommonScripts :: head-css}"> </th:block>
</head>
<body>
<div th:replace="~{includes/CommonScripts::header}"></div>
<h1>Bieda Meetup says hello</h1>


<table class="table" >
    <thead class="thead-light">
    <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Start Date </th>
        <th> End Date </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${events.isEmpty()}">
        <td colspan="2"> No Events Available </td>
    </tr>
    <tr th:each="event : ${events}">
        <td><span th:text="${event.getTitle()}" > Title </span></td>
        <td><span th:text="${event.getDescription()}"> Description </span></td>
        <td><span th:text="${event.getStart()}"> Start Date </span></td>
        <td><span th:text="${event.getEnd()}"> End Date </span></td>
        <td><a th:href="@{/event/{id}(id=${event.getId()})}">show details</a></td>
    </tr>
    </tbody>
</table>
<th:block th:replace="~{includes/CommonScripts :: end-of-body}"> </th:block>
</body>
</html>