<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <th:block th:replace="includes/CommonScripts::head-css"></th:block>

</head>
<body>
<th:block th:replace="includes/CommonScripts::header"></th:block>

<form th:action="@{/login-process-2}" method="post">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:name="email"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:name="password"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>


<th:block th:replace="includes/CommonScripts::end-of-body"></th:block>
</body>
</html>